{% extends 'base.html' %}

{% block flashes %}

{% with messages = get_flashed_messages() %}

{% if messages %}

{% for message in messages %}

<div class="alert alert-danger" role="alert">{{message}}</div>

{% endfor %}

{% endif %}

{% endwith %}

{% endblock %}

{% block content %}

<div class="row justify-content-md-center">
    <h1>{{pet.name}}</h1>
</div>

{% if pet.photo_url %}

<div class="row justify-content-md-center">
    <div class="col">
        <img src="{{pet.photo_url}}" alt="{{pet.name}}" class="img-fluid">
    </div>
</div>

{% endif %}

<div class="row">
    <div class="col-xl">
        <form id="edit-pet-form" method="POST">
            {{form.hidden_tag()}}

            {% for field in form
            if field.widget.input_type != 'hidden' %}

            {% if field.type == 'BooleanField' %}
            <div class="form-group form-check">
                {{field(class="form-check-input")}}
                {{field.label(class="form-check-label")}}

                {% for error in field.errors %}
                <div class="alert alert-danger mt-1">
                    {{error}}
                </div>
                {% endfor %}
            </div>
            {% else %}
            <div class="form-group">
                {{field.label}}
                {{field(class="form-control",rows="10")}}

                {% for error in field.errors %}
                <div class="alert alert-danger mt-1">
                    {{error}}
                </div>
                {% endfor %}
            </div>
            {% endif %}

            {% endfor %}

            <a href="/" class="btn btn-primary">Cancel</a>
            <input type="reset" value="Reset to Current Info" class="btn btn-warning">
            <input type="submit" value="Edit Info" name="btn" class="btn btn-success">
            <input type="submit" value="Delete" name="btn" class="btn btn-danger">
        </form>
    </div>
</div>

{% endblock %}